{strip}

{$ts = $theme_settings}

<div class="wrap">

    {* BREADCRUMBS *}
    {include file="`$wa_parent_theme_path`/breadcrumbs.html" category=1 rev=1}

    <h1>{$page.title|escape}</h1>

    <div class="product__pages">
        <a class="product__pages-item" href="{$wa->shop->productUrl($product)}">[`Overview`]</a></li>
        <a class="product__pages-item" href="{$wa->shop->productUrl($product, 'reviews')}">
            [`Reviews`] ({$reviews_total_count})
        </a>

        {foreach $product.pages as $p}
            <a href="{$wa->shop->productUrl($product, 'page', ['page_url' => $p.url])}" class="product__pages-item
                {if $p.id == $page.id} product__pages-item_active{/if}">
                {$p.name}
            </a>
        {/foreach}
    </div>

    <div class="reviews__wrap">
        <div class="reviews__left">
            <div class="page">
                {$page.content}
            </div>
        </div>
        <div class="reviews__right">
            {$products = $wa->shop->products('id/'|cat:$product.id)}
            {include file="./list-thumbs.html" products=$products}
        </div>
    </div>
</div>

{/strip}
