ChangedFilesCopies/*
sxd/*
DUMPER/*
cgi-bin/*
access/*
wa-config/*
wa-sources/*
wa-cache/*
wa-log/*
bx-import/*
wa-data/protected/*
wa-data/public/blog/*
wa-data/public/contacts/*
wa-data/public/shop/*
wa-data/public/site/*
wa-data/public/webasyst/*
!/wa-data/public/blog/themes/
!/wa-data/public/shop/themes/
!/wa-data/public/site/themes/
.htaccess
.idea
.fw_compatible
.files.md5
config.codekit
yandex_*
cmsmagazine*
google*
mailru-*
*.zip
*.tar.gz
*.log
