{$_wrapper_id = uniqid('i-licenses-wrapper')}

<div id="{$_wrapper_id}" class="shadowed i-licenses-wrapper">
    <div class="i-white-core-content">
        <div class="block double-padded">
            {if $error}
                <p><i class="icon16 no"></i> {$error}</p>
            {else}

                <ul class="menu-h">
                    <li class="{if !$current_product_type}selected{/if}"><a href="{$wa_app_url}licenses/">[`All`]</a></li>
                    {foreach $product_types as $_type => $_name}
                        <li class="{if $current_product_type == $_type}selected{/if}"><a href="{$wa_app_url}licenses/?type={$_type}">{$_name}</a></li>
                    {/foreach}
                </ul>

                <div>
                    <label>
                        {if $product_name_filter.op == '*='}
                            <span>≈</span>
                        {else}
                            <span>=</span>
                        {/if}
                        <input type="text" placeholder="[`Product`]" class="js-product-name-filter i-product-name-filter" value="{$product_name_filter.val|escape}">
                    </label>

                    <label>
                        =
                        <input type="text" placeholder="[`Order ID`]" class="js-order-id-filter i-order-id-filter" value="{if $order_id_filter.val > 0}{$order_id_filter.val}{/if}">
                    </label>

                    <input type="button" class="js-reset-filters" value="[`reset filters`]">
                </div>

                <ul>
                    {foreach $licenses as $license}
                        <li class="js-license-item" data-id="{$license.license_id}" data-product-id="{$license.product_id}">
                            <div class="">
                                <img src="{$license.icon}" alt="{$license.name|escape}">
                            </div>
                            <div class="">
                                <div>
                                    {$license.name|escape}
                                </div>
                                <p>{$license.brief_text|escape}</p>
                                <p>[`Order ID`]: {$license.order_id|escape}</p>
                            </div>

                            {if !$license.is_installed && $license.is_bind_available}
                                {$_requirements_warning_str = $license.requirements_warnings|join:"\n"}
                                {$_is_disabled = !empty($license.requirements_warnings)}
                                <input class="js-install-button" type="button" value="[`Install`]" title="{$_requirements_warning_str}" {if $_is_disabled}disabled="disabled"{/if}> <i class="icon16 loading js-loading" style="display:none;"></i>
                                <em class="errormsg js-bind-error" style="display: none"></em>
                            {/if}
                        </li>
                    {/foreach}
                </ul>
            {/if}
        </div>
        <div class="clear"></div>
    </div>

    <div class="w-pager-wrapper">
        <table class="zebra">
            <tr>
                <td class="short">[`Total rows:`] {$total_count}</td>
                <td>{wa_pagination total=$pages_count attrs=['class'=>'pager']}</td>
            </tr>
        </table>
    </div>

    {if !$error}
        {$_options = [
            'licenses' => $licenses,
            'app_url' => $wa_app_url,
            'autocomplete_url' => "`$wa_app_url`?module=licenses&action=autocomplete"
        ]}
        <script>
            $(function () {
                var options = {$_options|json_encode};
                options.$wrapper = $('#{$_wrapper_id}');
                new InstallerLicenses(options);
            });
        </script>
    {/if}

</div>
